{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <p class="custom-title mb-3">Change Password</p>
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="current-password" name="current-password" placeholder="Current password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new-password" name="new-password" placeholder="New password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm your new password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
